@page "/Soporte"

<div class="support-container">
    <h2>Contacta con Soporte</h2>
    <div class="contact-info">
        <div class="contact-item">
            <i class="fas fa-envelope"></i>
            <div class="contact-details">
                <h4>Correo Electrónico</h4>
                <p>adielgarcia@gmail.com</p>
            </div>
        </div>
        <div class="contact-item">
            <i class="fas fa-phone"></i>
            <div class="contact-details">
                <h4>Teléfono</h4>
                <p>809-512-4124</p>
            </div>
        </div>
        <div class="contact-item">
            <i class="fas fa-map-marker-alt"></i>
            <div class="contact-details">
                <h4>Dirección</h4>
                <p>San Francisco</p>
            </div>
        </div>
    </div>
</div>

