@page "/Soporte"

<div class="page-specific">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars" style="color: white;"></i>
            </button>

            <a class="navbar-brand ms-2" href="#">
                <img src="Images/LogoNombre.png" alt="Logo" style="height: 40px;">
            </a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                </ul>
                <form class="d-flex ms-auto">
                    <div class="dropdown">
                        <a href="#" class="nav-link text-light" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-bars"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                            <li><a class="dropdown-item" href="/MenuAdmin">Admin</a></li>
                            <li><a class="dropdown-item" href="#">Cerrar Sesión</a></li>
                        </ul>
                    </div>
                </form>
            </div>
        </div>
    </nav>
</div>
<div class="container mt-5">
<div class="support-container">
    <h2>Contacta con Soporte</h2>
    <div class="contact-info">
        <div class="contact-item">
            <i class="fas fa-envelope"></i>
            <div class="contact-details">
                <h4>Correo Electrónico</h4>
                <p>adielgarcia@gmail.com</p>
            </div>
        </div>
        <div class="contact-item">
            <i class="fas fa-phone"></i>
            <div class="contact-details">
                <h4>Teléfono</h4>
                <p>809-512-4124</p>
            </div>
        </div>
        <div class="contact-item">
            <i class="fas fa-map-marker-alt"></i>
            <div class="contact-details">
                <h4>Dirección</h4>
                <p>San Francisco</p>
            </div>
        </div>
    </div>
</div>
</div>

