@page "/AgregarProducto"

@inject NavigationManager NavigationManager
@rendermode InteractiveServer
@inject ProductoService productoService
<PageTitle>Agregar Producto</PageTitle>
<div class="page-specific">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
           
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars" style="color: white;"></i>
            </button>
           
            <a class="navbar-brand ms-2" href="#">
                <img src="Images/LogoNombre.png" alt="Logo" style="height: 40px;">
            </a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                </ul>
                <form class="d-flex ms-auto">
                    <div class="dropdown">
                        <a href="#" class="nav-link text-light" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-bars"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                            <li><a class="dropdown-item" href="/MenuAdmin">Admin</a></li>
                            <li><a class="dropdown-item" href="#">Cerrar Sesión</a></li>
                        </ul>
                    </div>
                </form>
            </div>
        </div>
    </nav>
    </div>
<EditForm Model="nuevoProducto" OnValidSubmit="Guardar">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label for="nombre">Descripcion</label>
        <InputText id="nombre" class="form-control" @bind-Value="nuevoProducto.Descripcion" />
    </div>

    <div class="form-group">
        <label for="nombre">Precio</label>
        <InputNumber id="nombre" class="form-control" @bind-Value="nuevoProducto.Precio" />
    </div>

    <div class="form-group">
        <label for="nombre">Stock</label>
        <InputNumber id="nombre" class="form-control" @bind-Value="nuevoProducto.Stock" />
    </div>


    <div class="form-group">
        <label for="fotoPerfil">Foto de Perfil</label>
        <InputFile id="fotoPerfil" OnChange="CargarFotoPerfil" />
    </div>

    <button type="submit" class="btn btn-primary">Guardar</button>
</EditForm>

@code {
    private Producto nuevoProducto = new Producto();

    private async Task CargarFotoPerfil(InputFileChangeEventArgs e)
    {
        var file = e.File;
        var buffer = new byte[file.Size];
        await file.OpenReadStream().ReadAsync(buffer);
        nuevoProducto.Foto = buffer;
    }

    private async Task Guardar()
    {
        await productoService.GuardarAsync(nuevoProducto);
        NavigationManager.NavigateTo("/ProductosAdmin");
    }
}
