@page "/Productos"
@inject NavigationManager NavigationManager
@rendermode InteractiveServer

@inject ProductoService productoService

<div class="page-specific">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/Menu">Proyecto_AP1</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                </ul>
                <form class="d-flex">
                    <div class="dropdown">
                        <a href="#" class="nav-link text-light" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-user"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                            <li><a class="dropdown-item" href="/Perfil">Editar Perfil</a></li>
                            <li><a class="dropdown-item" href="#">Cerrar Sesión</a></li>
                        </ul>
                    </div>
                </form>
            </div>
        </div>
    </nav>
</div>

<div class="container mt-5">
    <div class="trainer-cards">
        @foreach (var producto  in productos)
        {
            <div class="trainer-card">
                <img src="data:image/png;base64,@Convert.ToBase64String(producto.Foto)" alt="Foto del Entrenador" class="trainer-photo" />
                <h4>@producto.Descripcion </h4>
                <p>Cantidad Disponible: @producto.Stock</p>
                <p>Precio: @producto.Precio</p>
            </div>
        }
    </div>
</div>

@code {

    private List<Producto> productos = new List<Producto>();

    protected override async Task OnInitializedAsync()
    {
        productos = await productoService.GetProductosAsync();
    }
}