@page "/Comparacion"
@inject NavigationManager Navigation


<div class="page-specific">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Proyecto_AP1</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                </ul>
                <form class="d-flex">
                    <div class="dropdown">
                        <a href="#" class="nav-link text-light" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-user"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                            <li><a class="dropdown-item" href="/Perfil">Editar Perfil</a></li>
                            <li><a class="dropdown-item" href="#">Cerrar Sesión</a></li>
                        </ul>
                    </div>
                </form>
            </div>
        </div>
    </nav>
</div>
<div class="container mt-5">
    <div class="pricing-cards">
        <div class="pricing-card">
            <div class="header">
                <h2>BASICA</h2>
                <img src="Images/Membresia.png" alt="Foto del Entrenador" class="trainer-photo" />
                <p>Plan Basico</p>
            </div>
            <ul class="features">
                <li><i class="icon"></i> Inscripcion <span class="check">✔</span></li>
                <li><i class="icon"></i> Mensualidad <span class="check">✔</span></li>
                <li class="inactive"><i class="icon"></i> Asesoria de Entrenador Mensual <span class="cross">✘</span></li>
                <li class="inactive"><i class="icon"></i> Dieta <span class="cross">✘</span></li>
            </ul>

        </div>

        <div class="pricing-card">
            <div class="header">
                <h2>REGULAR</h2>
                <img src="Images/Membresia2.png" alt="Foto del Entrenador" class="trainer-photo" />
                <p>Plan Regular</p>
            </div>
            <ul class="features">
                <li><i class="icon"></i> Inscripcion <span class="check">✔</span></li>
                <li><i class="icon"></i> Mensualidad <span class="check">✔</span></li>
                <li><i class="icon"></i> Asesoria de Entrenador Mensual <span class="check">✔</span></li>
                <li class="inactive"><i class="icon"></i> Dieta <span class="cross">✘</span></li>
            </ul>

        </div>

        <div class="pricing-card">
            <div class="header">
                <h2>PREMIUM</h2>
                <img src="Images/GYM2.png" alt="Foto del Entrenador" class="trainer-photo" />
                <p>Plan Premium</p>
            </div>
            <ul class="features">
                <li><i class="icon"></i> Inscripcion <span class="check">✔</span></li>
                <li><i class="icon"></i> Mensualidad <span class="check">✔</span></li>
                <li><i class="icon"></i> Asesoria de Entrenador Mensual <span class="check">✔</span></li>
                <li><i class="icon"></i> Dieta <span class="check">✔</span></li>
            </ul>

        </div>

    </div>
</div>



@code {

}