@page "/AgregarSuscripcion"
@inject NavigationManager NavigationManager
@rendermode InteractiveServer
@inject SuscripcionService suscripcionService
@using SuscripcionModel = ProyectoFinal_AP1.Models.Suscripcion

<div class="page-specific">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars" style="color: white;"></i>
            </button>

            <a class="navbar-brand ms-2" href="#">
                <img src="Images/LogoNombre.png" alt="Logo" style="height: 40px;">
            </a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                </ul>
                <form class="d-flex ms-auto">
                    <div class="dropdown">
                        <a href="#" class="nav-link text-light" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-bars"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                            <li><a class="dropdown-item" href="/MenuAdmin">Admin</a></li>
                            <li><a class="dropdown-item" href="#">Cerrar Sesión</a></li>
                        </ul>
                    </div>
                </form>
            </div>
        </div>
    </nav>
</div>
<div class="container mt-5">
<EditForm Model="nuevaSuscripcion" OnValidSubmit="GuardarSuscripcion">
    <DataAnnotationsValidator />

    <div class="card shadow-lg border-0 rounded" style="background-color: #f8f9fa;">
        <div class="card-header bg-dark text-white" style="text-align: center;">
            <h3><i class="fas fa-clipboard-list"></i> Agregar Equipo</h3>
        </div>
        <div class="card-body">

            <div class="mb-3">
                <label for="Descripcion" class="form-label">Descripcion</label>
                <InputText @bind-Value="nuevaSuscripcion.Descripcion" class="form-control" />
                <ValidationMessage For="@(() => nuevaSuscripcion.Descripcion)" />
            </div>
            <div class="mb-3">
                <label for="Apellido" class="form-label">Precio</label>
                <InputNumber @bind-Value="nuevaSuscripcion.Precio" class="form-control" />
                <ValidationMessage For="@(() => nuevaSuscripcion.Precio)" />
            </div>

            <div class="form-group">
                <label for="fotoPerfil">Foto</label>
                <InputFile id="fotoPerfil" OnChange="CargarFotoPerfil" />
            </div>
        </div>
        <div class="card-footer bg-light d-flex justify-content-center mt-3">
            <div class="btn-group">
                <button type="submit" class="btn btn-outline-success ml-2"><span class="bi bi-check-circle-fill"></span> Guardar</button>
                <a type="button" href="/Usuarios" class="btn btn-outline-danger"><span class="bi bi-arrow-bar-left"></span> Retroceder</a>
            </div>
        </div>
    </div>
</EditForm>
</div>

@code {
    private SuscripcionModel nuevaSuscripcion = new SuscripcionModel();

    private async Task CargarFotoPerfil(InputFileChangeEventArgs e)
    {
        var file = e.File;
        var buffer = new byte[file.Size];
        await file.OpenReadStream().ReadAsync(buffer);
        nuevaSuscripcion.FotoPerfil = buffer;
    }

    private async Task GuardarSuscripcion()
    {
        await suscripcionService.GuardarAsync(nuevaSuscripcion);
        NavigationManager.NavigateTo("/SuscripcionAdmin");
    }
}
