@page "/MenuAdmin"
@inject UserService userService
<div class="page-specific">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars" style="color: white;"></i>
            </button>

            <a class="navbar-brand ms-2" href="#">
                <img src="Images/LogoNombre.png" alt="Logo" style="height: 40px;">
            </a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                </ul>
                <form class="d-flex ms-auto">
                    <div class="dropdown">
                        <a href="#" class="nav-link text-light" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-bars"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                            <li><a class="dropdown-item" href="/MenuAdmin">Admin</a></li>
                            <li><a class="dropdown-item" href="#">Cerrar Sesión</a></li>
                        </ul>
                    </div>
                </form>
            </div>
        </div>
    </nav>


<div class="menu-container">
    <MenuCard Title="Perfil" ImageSrc="Images/perfil.png" Link="/Perfil" />
        <MenuCard Title="Suscripciones" ImageSrc="Images/suscripcion.png" Link="/SuscripcionAdmin" />
    <MenuCard Title="Entrenadores" ImageSrc="Images/entrenador.png" Link="/EntrenadoresAdmin" />
    <MenuCard Title="Productos" ImageSrc="Images/producto.png" Link="/ProductosAdmin" />
    <MenuCard Title="Equipos" ImageSrc="Images/equipos.png" Link="/EquiposAdmin" />
        <MenuCard Title="Clientes" ImageSrc="Images/registrado.png" Link="/Usuarios"/>



</div>
</div>
@code {

    private int numeroUsuarios;

    protected override async Task OnInitializedAsync()
    {
        var usuarios = await userService.ObtenerUsuarios();
        numeroUsuarios = usuarios.Count;
    }
}
