@page "/Menu"


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Proyecto_AP1</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Productos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Suscripcion</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Carrito</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">.</a>
                </li>
            </ul>
            <form class="d-flex">
                <div class="dropdown">
                    <a href="#" class="nav-link text-light" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-user"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                        <li><a class="dropdown-item" href="/Perfil">Editar Perfil</a></li>
                        <li><a class="dropdown-item" href="#">Cerrar Sesión</a></li>
                    </ul>
                </div>
            </form>
        </div>
    </div>
</nav>
<link href="css/menu-card.css" rel="stylesheet" />

<div class="menu-container">
    <MenuCard Title="Perfil" ImageSrc="Images/perfil.png" Link="/Perfil" />
    <MenuCard Title="Suscripcion" ImageSrc="Images/Suscripcion.jpg"  Link="/Suscripcion" />
    <MenuCard Title="Entrenadores" ImageSrc="Images/entrenador.png" Link="/Entrenadores" />
    <MenuCard Title="Productos" ImageSrc="Images/producto.png" Link="/Productos" />
</div>





@code {


}
