.menu-card {
    width: 250px;
    background: #2e2e2e; /* Fondo gris */
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 15px;
    transition: transform 0.2s;
}

    .menu-card:hover {
        transform: translateY(-5px);
    }

    .menu-card a {
        text-decoration: none;
        color: #ffffff; /* Texto blanco */
    }

.card-content {
    padding: 20px;
    text-align: center;
}

.card-image {
    max-width: 100px;
    margin-bottom: 15px;
}

.card-content h3 {
    margin: 10px 0;
    font-size: 1.2em;
    color: #ffffff; /* Título blanco */
}

.card-content p {
    font-size: 1em;
    color: #ffffff; /* Texto blanco */
}
