@page "/"
@inject AutorizacionService autorizacionService
@inject NavigationManager navigationManager
@rendermode InteractiveServer

<div class="loginBox">
    <img class="user" src="Images/usuario.png" alt="Foto del Usuario" height="100px" width="100px">
    <h3>Iniciar Sesi&oacute;n</h3>

    <EditForm Model="login" OnValidSubmit="HandleValidSubmit">
        <div class="inputBox">
            <InputText id="email" type="text" @bind-Value="login.Correo" class="form-control" placeholder="Email" />
            <InputText id="pass" type="password" @bind-Value="login.Clave" class="form-control" placeholder="Contraseña" />
        </div>
        <button type="submit" class="btn-login">Login</button>
    </EditForm>

    <div class="text-center">
        <a href="/SignUp" style="color: white;">Registrarse<br></a>
    </div>
    <a href="#" style="color: white;">Olvidaste tu Contraseña?<br></a>
    
</div>

@code {
    private Login login = new Login();

    private async Task HandleValidSubmit()
    {
        var user = await autorizacionService.Authenticate(login.Correo, login.Clave);

        if (user != null)
        {
           
            navigationManager.NavigateTo("/Menu");
        }
        else
        {
            
        }
    }

   
}
