@page "/"
@layout LoginLayout
@inject NavigationManager navigationManager

<div class="loginBox">
    
    <img class ="user" src="Images/usuario.png" alt="Foto del Usuario" height="100px" width="100px"> 
    <h3>Iniciar Sesi&oacute;n</h3>
    
        <div class="inputBox"> 
            <input id="email" type="text" name="email" placeholder="Email"> 
            <input id="pass" type="password" name="contrasena" placeholder="Contraseña"> 
            </div>
    <a href="/Menu" class="btn-login">Login</a>
            
    
    <a href="#" style="color: white;">Olvidaste tu Contraseña?<br> </a>
    <div class="text-center">
        <a href="/SignUp" style="color: white;">Registrarse<br> </a>
    </div>

</div>






@code {

    public void IniciarSesion()
    {
        navigationManager.NavigateTo("/Menu");
    }

}
