@page "/SignUp"

@inject UserService userService
@inject NavigationManager navigationManager
@rendermode InteractiveServer

<div class="loginBox">
    <img class="user" src="Images/usuario.png" alt="Foto del Usuario" height="100px" width="100px">
    <h3>Registrarse</h3>

    <EditForm Model="Usuario" OnValidSubmit="HandleValidSubmit">
        <div class="inputBox">
            <InputText id="nombre" type="text" @bind-Value="Usuario.Nombre" placeholder="Nombres" />
            <InputText id="email" type="text" @bind-Value="Usuario.Correo" placeholder="Email" />
            <InputText id="pass" type="password" @bind-Value="Usuario.Clave" placeholder="Contraseña" />
        </div>
        <button type="submit" class="btn-login">Crear Cuenta</button>
    </EditForm>
</div>

@code {
    private Usuario Usuario = new Usuario();
 

    private async Task HandleValidSubmit()
    {
       

        bool isRegistered = await userService.RegisterUser(Usuario);

        if (isRegistered)
        {
            navigationManager.NavigateTo("/Menu");
        }
        else
        {
            
        }
    }

}