@page "/SignUp"



<div class="loginBox">

    <img class="user" src="Images/usuario.png" alt="Foto del Usuario" height="100px" width="100px">
    <h3>Registrarse</h3>

    <div class="inputBox">
        <input id="nombre" type="text" name="nombre" placeholder="Nombres">
        <input id="apellido" type="text" name="apellido" placeholder="Apellidos">
        <input id="email" type="text" name="email" placeholder="Email">
        <input id="telefono" type="text" name="telefono" placeholder="Telefono">
        <input id="pass" type="password" name="contrasena" placeholder="Contraseña">
        <input id="pass" type="password" name="contrasena" placeholder="Repita la Contraseña">
    </div>
    <a href="/Menu" class="btn-login">Crear Cuenta</a>



</div>

@code {

}