@page "/Perfil"


@inject AutorizacionService AutorizacionService
@inject NavigationManager NavigationManager


<div class="profile-container" style="margin-top: 50px;">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-3 text-center">
                    <img src="data:image/png;base64,@Convert.ToBase64String(usuario?.FotoPerfil)" class="rounded-circle img-fluid" alt="Foto del Usuario" />
                    <h6>Fotografía</h6>
                    <button class="btn btn-primary">Cambiar</button>
                    <a href="#" class="d-block mt-2">¿Cambiar mi contraseña?</a>
                </div>
                <div class="col-md-9">
                    <h5>Datos del Usuario</h5>
                    <form>
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label for="Nombre" class="form-label">Nombres</label>
                                <input type="text" class="form-control" id="Nombre" value="@usuario?.Nombre" readonly>
                            </div>
                            <div class="col-md-6">
                                <label for="Apellidos" class="form-label">Apellidos</label>
                                <input type="text" class="form-control" id="apellidos" value="@usuario?.Apellido" readonly>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label for="Email" class="form-label">Email</label>
                                <input type="email" class="form-control" id="Email" value="@usuario?.Correo" readonly>
                            </div>
                            <div class="col-md-6">
                                <label for="telefono" class="form-label">Teléfono</label>
                                <input type="text" class="form-control" id="telefono" value="@usuario?.Telefono" readonly>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-12">
                                <label for="direccion" class="form-label">Dirección</label>
                                <textarea class="form-control" id="direccion" rows="2" readonly>@usuario?.Direccion</textarea>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-success">Guardar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@code {
    private Usuario usuario;

    protected override async Task OnInitializedAsync()
    {
        var email = "usuario@example.com";

    }
}